table {
    border-collapse: collapse;
    width: 100%;
    position: relative;

  }
  
th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
max-width: 99px;

}
td{
  border: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis; 
 
}
th{
  position: sticky;
  top: 0px;
  background-color: #ffffff;
}
tbody > tr:hover{
    cursor: pointer;
    background-color: #cccc

}

 tr:hover .icon-group{
  display: flex;
}

.icon-group{
  display: none;
  justify-items: center;
  
}
.icon-group > .icon{
  height: 15px;
  width: 15px;
  background-size: contain;
  margin: 5px;
}

.icon-edit{
  background-image: url("../../../src/assets/Icon/icon-edit.svg");
}
.icon-delete{
  background-image: url("../../../src/assets/Icon/icon-trash.svg");
}
.icon-history{
  background-image: url("../../../src/assets/Icon/icon-history.svg");
}
.no-data {
  position: absolute;
  top: 400%;
  left: 30%;
  font-size: 30px;
  font-family: 'GoogleSans-Medium';
}

.cell-number{
  text-align: right !important;
}


