body{
    display: flex; 
    margin: 0%;
    font-size: 13px;
    font-family: GoogleSans-Medium;
}

@font-face {
    font-family: "GoogleSans-Medium";
    src: url("../../content/font/GoogleSans-Medium.otf");
  }

@font-face {
font-family: "GoogleSans-Regular";
src: url("../../content/font/GoogleSans-Regular.otf");
}
@font-face {
font-family: "GoogleSans-Bold";
src: url("../../content/font/GoogleSans-Bold.otf");
}

body::-webkit-scrollbar {
    width: 0.5em;
    scrollbar-width: thin;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.body-right{
  width: calc(100% - 270px) ;
  height: 100vh;
  
}