
    .body-right .header{
        width: 100%;
        height: 27px;
        border-bottom: 1px solid #bbbb;
        display: flex;
        align-items: center;
        position: relative;
        padding: 16px;
    }
    

    /* định nghĩa cho phần header bên trái */
    .body-right .header .header-left {
           display: flex;
        }
             .header-left .icon-seperator {
                width: 30px;
                height: 55px;
                background-image: url("/content/Icon/seperator.svg");
                background-repeat: no-repeat;
                background-position:center;
         }
         #text-header{
             font-size: 18px;
         }
                
    /* Định nghĩa css cho phần bên phải */
        .body-right .header .header-right{
            display: flex;
            position: absolute;
            right: 5px;
            align-items: center;
            justify-items:center;
        }
        .header-right .year{
            height: 26px;
            width: 130px;
            text-align: center;
            padding: -5px;
            font-family: 'GoogleSans-Regular';
            margin: 10px;
            border: 1px solid #bbbbbb;
            border-radius: 5px;
            display: flex;
            position: relative;
        }
        .year > p{
            margin: 0px;
            text-align: center;
            padding: 5px 0px 0px 16px;
        }

        .year .icon-updown{
            position: absolute;
            right: 0px;
            width: 40px;
            height: 100%;
            background-repeat: no-repeat;
            background-position:center;
            background-size:contain;
            background-image: url("/content/Icon/updown.png");
        }

        .header-right .icon-question{
            width: 30px;
            height: 30px;
            background-image: url("/content/Icon/help.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
        .header-right .icon-ring{
            width: 30px;
            height: 30px;
            background-image: url("/content/Icon/bell.svg");
            background-repeat: no-repeat;
            background-position: center;
        }

        .header-right .icon-divide{
            width: 25px;
            height: 25px;
            background-image: url("/content/Icon/Divider.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .header-right .avatar-user{
            width: 30px;
            height: 30px;
            background-image: url("/content/img/default-avatar.jpg");
            background-repeat: no-repeat;
            background-position: center;  
            border-radius: 50%;      
        }

        .header-right .icon-dropdown{
            width: 30px;
            height: 30px;
            background-image: url("/content/Icon/i_arrow_up_small.svg");
            background-repeat: no-repeat;
            background-position: center;
        }

