


/* Định dang cho layout phải */
    /* end */


    /* style content  chính */
    .body-right .content{
        width: 100% - 16px;
        height:calc(100% - 100px);
        padding: 16px;
    }






.footer-content{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

    .page-number{
        height: 100%;
        width: 300px;
        display: flex;
        align-items: center;
        cursor: pointer;
        
    }

    .btn-footer-page{
        height: 100%;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;  
        align-items: center;
        display: flex;
        text-align: center;
        
    }

    .first-page{
      
        background-image: url("/content/icon/btn-firstpage.svg");
         
    }

    .prev-page{
    
        background-image: url("/content/icon/btn-prev-page.svg");
      
    }

    .next-page{
       
        background-image: url("/content/icon/btn-next-page.svg");
    
    }

    .last-page{
        background-image: url("/content/icon/btn-lastpage.svg");
    }
    .page-chose{
        text-align: center;
        background-color: #019160;
        border-radius: 50%;
        margin-right: 10px;
    }

                
